:root {
  --color-primary: #40E0D0;
  --color-secondary: #003366;
  --color-accent: #FF7F50;
  --color-neutral: #F8F8FF;
  --color-text-main: #222;
  --color-text-light: #fff;
  --color-text-muted: #555;
}  