@font-face {
    font-family: 'PP Eiko Heavy';
    src: url('./../fonts/ppeiko/ppeiko-heavy.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Eiko Medium';
    font-weight: 900;
    src: url("./../fonts/ppeiko/ppeiko-medium.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Eiko Thin';
    font-weight: 900;
    src: url("./../fonts/ppeiko/ppeiko-thin.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}